.header{
    text-align:left;
    background-color:skyblue;
}
.nav{
    text-align:center;
    background-color:skyblue;
}
.p1{
    color:green;
}
.bg1{
    background-color:lightblue;
}
.main{
    background-image:url('bn.jpg');
    background-size:cover;
}
.btn{
    text-align:center;
}
.btn1{
    text-align:center;
}
